@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-text: #F0E332;
    --color-height: #262626;
    --color-medium: #404040;
    --color-light: #737373;
    --color-light2: #A6A6A6;
    --color-black: #0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

body {
    background: var(--color-medium);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    margin-inline: 20px;
    /* max-width: 980px;  para não expandir muito */
}

.content {
    padding: 10px 24px;
}

/* === HEADER ==================== */
#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: var(--color-black);
}

#header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ---- ativar quando color uma logo img */
/* #header .content .img.logo {
    height: 30px;
} */

/* --- posteriormente ser retirado ---- */
#header .img.logo a {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    color: var(--color-text);
} 
/* ------------------------------------ */
#header #checkbox-menu {
    display: none;
}

#header nav ul {
    display: flex;
    gap: 10px;
}

#header nav ul li a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 250ms linear 0s;
    font-weight: 500;
}

#header nav ul li a:hover {
    background: var(--color-text);
    color: var(--color-black);
}

/* === MAIN Newsletter ==================== */
#newsletter {
    padding-top: 77px; /* alterar de acordo com a altura do header */
}

#newsletter .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#newsletter .content .form {
    background: var(--color-height);
    border: 2px solid var(--color-height);
    border-radius: 50px;
    box-shadow: -4px 3px  var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    min-height: 480px;
    max-width: 500px;
    gap: 10px;
}

#newsletter .content .form h2 {
    color: var(--color-text);
    font-size: 4.5em;
    line-height: 50px;
    text-align: center;
}

#newsletter .content .form h3 {
    color: #f2f2f2;
    font-size: 2em;
    line-height: 28px;
    text-align: center;
}

#newsletter .content .form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

#newsletter .content .form form input {
    padding-left: 10px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid var(--color-text);
}

#newsletter .content .form form [type="submit"] {
    background: var(--color-text);
    letter-spacing: 1.2px;
    cursor: pointer;
    color: var(--color-height);
    font-weight: bold;
}

#newsletter .content .img {
    min-height: max-content;
    min-width: max-content;
}

#newsletter .content .img img {
    height: 480px;
}

/* === Section Cards ==================== */
#cards {
    padding-top: 40px;
}

#cards .content {
    display: grid;
    /* width: 90%; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#cards .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000;
    transition: all 0.3s ease 0s;
}

#cards .card:hover {
    transform: translateY(-7px);
}

/* #card .card .img {
    
} */
#cards .card .description {
    margin: 20px;
}

#cards .card .description.info {
    margin: 0;
}

#cards .card .text--medium {
    font-size: 1.6em;
    line-height: 26px;
    color: var(--color-light2);
}

/* ==== Contact ======= */
#contact .container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px; /* retirar */
}

#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    background-color: var(--color-height);
    box-shadow: 1px 4px 5px 3px var(--color-text);
    border-radius: 10px;
    width: 100%; /* altera a largura quando está no mobile */
}

#contact .content .title {
    font-size: 2.5em;
    letter-spacing: 4px;
    color: var(--color-text);
    text-align: center;
}

#contact .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .form .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact .form .form-container .form-title {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--color-text);
}

#contact .form .form-container form {
    font-size: 1.8em;
    letter-spacing: 1px;
    color: var(--color-light2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact .form .form-container form label span{
    display: inline-block;
    padding-left: 8px;
}

#contact .form .form-container .form-info {
    display: grid;
    gap: 2px;
}

#contact .form .form-container form input,
textarea {
    border-radius: 20px;
    padding-left: 8px;
    height: 30px;
    border: 2px solid var(--color-text);
}

#contact .form .form-container .form-msg select {
    border-radius: 20px;
    height: 30px;
    border: 2px solid var(--color-text);
}

#contact .form .form-container .form-msg #msg {
    height: 100px;
} 

#contact .form .form-container .form-button-submit {
    justify-content: center;
}

#contact .form .form-container form [type="submit"] {
    background-color: var(--color-text);
    color: var(--color-height);
    width: max-content;
    padding-inline: 30px;
    height: 45px;
    margin-inline: auto;
    font-weight: 700;
    cursor: pointer;
}